.filter-area .recipe-results {
    grid-area: recipeResults;
}

.filter-area .filter {
    grid-area: filter;
    background-color: black;
    color: white;
    margin: 0;
    padding: 2rem 0 0 3rem;
}

.filter-area .filter h2 {
    padding: 0 0 1rem 0;
}

.filter-area .filter form {
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: start;
}
.filter-area .filter form label {
    margin: 0;
}

.filter-area .search-results {
    grid-area: searchResults;
    margin: 2rem 0 1rem 1rem;
}

.filter-area .filter-tag {
    padding: 0 0 2rem 0;
}

.filter-area {
    display: grid;
    width: 100%;
    grid-template-areas:
    "filter searchResults"
    "filter recipeResults";
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
}

.recipe-results {
    width: 90%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    margin: 0;
}
.recipe {
    width: 80%;
}
.recipe img {
    width: 100%;
}

.recipe-results .text-area {
    margin: 0 auto 2rem auto;
}

.recipe-results .text-area h3 {
    color: rgb(147, 146, 146);
    font-style: italic;
    margin: 0 0 3rem 0;
}

@media (width <= 1100px) {
    .recipe-results {
        width: 90%;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: auto;
    }
}

@media (width <= 900px) {
    .recipe-results {
        width: 90%;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
    }
}

@media (width <= 740px) {
    .recipe-results {
        width: 90%;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
}

@media (width <= 730px) {
    .filter-area {
        grid-template-columns: 0% 100%;
    }
    .filter-area .recipe-results, .filter-area .search-results {
        margin: 0 auto;
        text-align: center;
    }
    .filter-area .search-results {
        padding-top: 1rem;
    }
    .filter-area .filter {
        visibility: hidden;
    }
}

@media (width <= 500px) {
    .filter-area .recipe-results {
        width: 100%;
    }
}