.recipe-section .cooking-info {
    display: flex;
    align-content: start;
}
.labels {
    margin: 0;
}

.data {
    margin: 0 0 0 6rem;
}

.recipe-section {
    padding-top: 2rem;
    display: flex;
    width: 70%;
    flex-direction: row;
}

.recipe-section img {
    width: 50%;
    order: 2;
}

.recipe-info {
    margin: 1rem 2rem 0 2rem;
    order: 1;
}

.recipe-info h1 + h2 {
    color: rgb(147, 146, 146);
    font-style: italic;
    margin: 0 0 2rem 2rem;
}

.recipe-info h2 + p {
    margin-bottom: 2rem;
}

.recipe-info .labels {
    font-weight: bold;
}

.recipe-info .cooking-info + hr {
    margin-bottom: 2rem;
}

.steps {
    display: flex;
    width: 60%;
    flex-direction: column;
    margin: 2rem auto 7rem auto;
}
.steps img {
    width: 30%;
    margin-bottom: .4rem;
}

.steps p {
    margin: .5rem 10rem 3rem 10rem;
}

.steps hr {
    width: 100%;
    color: black;
    height: 2px;
    border-width:0;
    background-color:black;
    margin: .5rem 0 1rem 0;
}

@media (width <= 1400px) {
    .steps p {
        margin: .5rem 7rem 3rem 7rem;
    }
}

@media (width <= 1200px) {
    .recipe-section img {
        order: 1;
    }
    .recipe-section .recipe-info {
        order: 2;
    }
    .recipe-section{
        flex-direction: column;
    }
    .steps {
        width: 62%;
    }
    .steps img {
        width: 60%;
    }
    .steps p {
        margin: .5rem 5rem 3rem 5rem;
    }
}

@media (width <= 900px) {
    .recipe-section img {
        width: 90%;
    }
    .steps img {
        width: 70%;
    }
    .steps p {
        margin: .5rem 3rem 3rem 3rem;
    }
}

@media (width <= 600px) {
    .recipe-section {
        width: 100%;
    }
    .recipe-section img {
        width: 100%;
    }
    .steps img {
        width: 100%;
    }
    .steps {
        width: 90%;
    }
    .steps p {
        margin: .5rem 0 3rem 0;
    }
}